.AllContentSection {
    height: 100%;
    width: 100%;
    position: relative;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    /* border-top-left-radius: 49px; */
    /* margin-top: -90vh; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}
.AllContentSection_scroll {
    position: relative !important;
    margin-top: 90vh;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0vh;
}
.scroll-content {
    position: fixed;
    width: 100%;
}
.AllContentSection_block_background {
    position: absolute;
    top: 0vh;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff85;
    /* background-color: #FFFFFF; */
    /* background: url(../../media/background.png); */
    /* background-position: contain; */
    /* background-repeat: no-repeat; */
    /* background-size: 130% 100%; */
    /* border-radius: 40px; */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.AllContentSection_block {
    width: 100%;
    /* height: 100%; */
    backdrop-filter: blur(10px);
    /* border-radius: 40px; */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -10vh;
    transition: 2s ease;
}
.AllContentSection_scroll .scrollbar-track .scrollbar-thumb {
    width: 0px;
}
.AllContentSection_scroll .scrollbar-track {
    width: 0px !important;
}