.AboutUs {
  position: relative;
  width: 100%;
  height: calc(100vh - 0px);
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.AboutUs_block {
  position: relative;
  top: calc(5vh + 5vw);
  // top: calc(1.05vh + 1.05vw + 28px + 2.5vh);
  margin-top: 0px;
  width: calc(480px + 40vw + 30vh);
  height: 100%;
  @media (min-width: 2560px) {
    width: calc(90vw);
  }
  @media (max-width: 720px) {
    top: calc(10vh + 10vw);
  }
}
.CompanyBar {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  height: calc(7.5vh + 7.5vw);
  border-radius: 40px;
  background-image: url(../../media/GeotecGeoComp.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: calc(5px + 1.3vh + 1.3vw); //44
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  border-radius: 40px;
  background-position: center;
  @media (min-width: 2560px) {
    height: calc(5vh + 5vw);
    font-size: calc(30px + 0.75vh + 0.75vw); //44
  }
}
.CompanyBar .perhaps_logo_companyBar span {
  letter-spacing: 1px;
}
.logo_CompanyBar {
  font-family: "Poppins-ExtraLight";
  font-size: calc(5px + 3.5vw + 3.5vh); //110
  font-style: normal;
  font-weight: 275;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-left: calc(2.5vw + 2.5vh);
  @media (min-width: 2560px) {
    font-size: calc(30px + 2vw + 2vh); //110
  }
}
.perhaps_logo_companyBar {
  position: absolute;
  bottom: 17.5px;
  left: calc(2.5vw + 2.5vh);
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: calc(7.5px + 0.5vh + 0.5vw); //22
  line-height: 120%;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: none;
}

.researchs_block {
  position: relative;
  margin: 36px 0px 0px 0px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.researchs_block_elem {
  position: relative;
  width: 24%;
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  color: #102876;
  font-size: calc(0.75vh + 0.75vw); //22
  line-height: 150%;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
}
.researchs_block_elem_overflow {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* background-color: yellow; */
  transition: 1s ease-in-out;
}
.researchs_block_elem_text {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #102876;
}
.researchs_block_elem .text {
  position: relative;
  width: 100%;
  margin-top: 25px;
  // transition-delay: 0.3s;
  transition: all 1s, opacity 1s;
  font-family: "Raleway-Light";
  font-size: calc(9px + 0.3vh + 0.3vw); //16
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  @media (min-width: 2560px) {
    font-size: calc(9px + 0.4vh + 0.4vw); //16
    line-height: 160%;
  }
  @media (max-height: 890px) {
    line-height: 120%;
    font-size: calc(9px + 0.25vh + 0.25vw); //16
  }
}
.borderbottom {
  position: absolute;
  border-bottom: 1px solid #102876;
  height: 1px;
  width: 100%;
  transition: all 1s ease-out;
  // bottom: 45px;
}
.researchs_block_elem .svgblock {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  width: 100%;
  height: 49px;
  display: flex;
  bottom: 0px;
  border-top: 1px solid #102876;
  background-color: #fff;
  @media (max-width: 1420px) {
    bottom: 0px;
  }
}
.researchs_block_elem div svg {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(15px + 1vh + 1vw);
  transition: all 0.75s ease-in-out;
}
.researchs_block_elem:nth-child(0) {
  margin-left: 15px;
  padding-right: 0px;
}
.researchs_block_elem:nth-child(1) {
  margin-left: 15px;
  padding-right: 0px;
}
.researchs_block_elem:nth-child(2) {
  margin-left: 15px;
  padding-right: 0px;
}
.researchs_block_elem:nth-child(3) {
  margin-left: 15px;
  padding-right: 0px;
}
.mobileTitleAboutUs {
  font-size: calc(0.8vh + 0.8vw); //24
  line-height: 120%;
  margin-top: 30px;
  color: #4a6ad0;
}
.logo_CompanyBarMobile svg {
  width: 75px;
  height: 45px;
  padding: 0px 15px;
  position: relative;
  bottom: 0;
}
.dots {
  display: none;
}

@media screen and (max-width: 1480px) {
  .logo_CompanyBarMobile svg {
    padding: 5px 0px;
    width: 51px;
    height: 40px;
  }
  // .AboutUs {
  //   padding-top: 86px;
  // }
  .AboutUs_block {
    width: 90%;
  }
  .researchs_block {
    margin-top: 24px;
  }
}

@media screen and (max-width: 1134px) {
  .researchs_block_elem:nth-child(0) {
    margin-right: 10px;
  }
  .researchs_block_elem:nth-child(1) {
    margin-right: 10px;
  }
  .researchs_block_elem:nth-child(2) {
    margin-right: 10px;
  }
  .researchs_block_elem:nth-child(3) {
    margin-right: 10px;
  }
  .CompanyBar {
    display: none;
  }
  .logo_CompanyBarMobile svg {
    padding: 0;
    width: 47px;
    height: 34px;
  }
  .logo_CompanyBarMobile {
    font-size: 32px;
  }
  .mobileTitleAboutUs span:nth-of-type(2) {
    font-size: 24px;
    line-height: 120%;
  }
  .researchs_block_elem {
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 12px;
    padding-left: 17px;
    background-color: rgb(246, 248, 255, 0.7);
    border-radius: 34px;
    backdrop-filter: blur(25px);
  }
  .borderbottom {
    display: none;
  }
  .researchs_block_elem svg {
    display: none;
  }
  .svgblock {
    display: none !important;
  }
  .researchs_block_elem_text {
    padding-top: 25px;
    border-bottom: 0px;
    height: auto !important;
    padding-bottom: 5px;
    line-height: 120%;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .researchs_block {
    flex-direction: row;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .researchs_block_elem .text {
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: 0.35px;
    margin-bottom: 20px;
  }
  .mobileTitleAboutUs {
    margin-top: 24px;
  }
  .AboutUs {
    height: 100vh;
    background-image: url(../../media/ContactWhiteBackMobile.webp),
      url(../../media/mountains_wrapper.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .MobileWhitebottomAboutus {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../media/ContactWhiteBackMobile.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transform: rotate(180deg);
    opacity: 1;
  }
  .dots {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dots span {
    position: relative;
    transition: all 1s ease-out;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    color: #102876;
  }
}

@media screen and (max-width: 720px) {
  .logo_CompanyBarMobile svg {
    padding: 0;
    width: 42px;
    height: 28px;
  }
}

@media screen and (max-width: 490px) {
  .logo_CompanyBarMobile svg {
    padding: 0;
    width: 34px;
    height: 25px;
  }
}

@media screen and (max-height: 860px) and (max-width: 1920px) {
  .researchs_block {
    margin-top: 14px;
  }
  .CompanyBar {
    // align-items: flex-start;
    // padding-top: 25px;
  }
}

@media screen and (min-height: 860px) and (max-width: 1134px) {
  .mobileTitleAboutUs {
    line-height: 120%;
    margin-top: 64px;
  }
  .researchs_block {
    margin-top: 20px;
  }
  .researchs_block_elem_text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-height: 800px) and (max-width: 1134px) {
  .mobileTitleAboutUs {
    line-height: 120%;
    margin-top: 64px;
  }
  .researchs_block {
    margin-top: 20px;
  }
  .researchs_block_elem_text {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1134px) and (max-height: 750px) {
  .researchs_block_elem .text {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1134px) and (max-height: 700px) {
  .CompanyBar {
    padding-top: 5px;
  }
  .researchs_block_elem_text {
    line-height: 140%;
  }
}

@media screen and (min-width: 1134px) and (max-height: 550px) {
  // .AboutUs {
  //   padding-top: 102px;
  // }
}

@media screen and (min-width: 1134px) and (max-height: 450px) {
  // .AboutUs {
  //   padding-top: 86px;
  // }
}

@media screen and (max-height: 620px) {
  // .borderbottom {
  //   bottom: 32px;
  // }
  .researchs_block_elem svg {
    bottom: 0px;
  }
}
