@font-face {
  font-family: "Raleway-Bold";
  src: url(./Raleway-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url(./Raleway-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(./Poppins-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins-Light";
  src: url(./Poppins-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(./Poppins-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway-Light";
  src: url(./Raleway-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url(./Raleway-Medium.woff2) format("woff2");
}
