@font-face {
	font-family: 'Raleway-Bold'; 
	src: url(./media_fonts/Raleway-Bold.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Raleway-Regular'; 
	src: url(./media_fonts/Raleway-Regular.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Poppins-ExtraLight'; 
	src: url(./media_fonts/Poppins-ExtraLight.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Poppins-Light'; 
	src: url(./media_fonts/Poppins-Light.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Poppins-Regular'; 
	src: url(./media_fonts/Poppins-Regular.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Raleway-Light'; 
	src: url(./media_fonts/Raleway-Light.woff2) format('woff2'); 
}
@font-face {
	font-family: 'Raleway-Medium'; 
	src: url(./media_fonts/Raleway-Medium.woff2) format('woff2'); 
}