.Whyarewe {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 91px); */
  height: calc(100vh - 0px);
  /* border-radius: 40px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  background-color: #ffffff;
  z-index: 101;
  @media (min-width: 2560px) {
    align-items: center;
    height: 80%;
  }
  /* margin-bottom: 162px; */
}
.Whyarewe_block {
  position: relative;
  /* top: 141px;
    left: 92px;
    width: 77%; */
  width: calc(100% - 170px);
  height: 85%;
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  flex-wrap: nowrap;
  overflow: hidden;
}
.Whyarewe_block_title {
  position: absolute;
  /* background-color:black; */
  background-color: #f0f1f8;
  border-radius: 40px;
  width: 50%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Whyarewe_block_title_text {
  position: relative;
  top: 25%;
  left: 90px;
  width: 50%;
  font-family: "Raleway-Regular";
  font-weight: 400;
  text-transform: capitalize;

  background: linear-gradient(
    98.83deg,
    #2444a9 8.79%,
    #526ec8 44.21%,
    #839ae9 79.62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  line-height: 120%;
  font-size: calc(24px + 1.31vw + 1.31vh);
  @media (max-width: 720px) {
    font-size: 36px;
  }
}
.Whyarewe_block_Content {
  position: absolute;
  width: 100%;
  right: 0;
  /* background-color:aqua; */
  background: url(../../media/staff.webp) no-repeat;
  background-size: cover;

  width: 60%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.Whyarewe_block_Content_first {
  position: absolute;
  top: 20%;
  padding-left: 81.74px;
  width: 100%;
  height: auto;
  transition: all 2s ease;
}
.Whyarewe_block_Content_first_title {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: none;
  color: #ffffff;
  font-size: calc(24px + 1.075vw + 1.075vh);
  @media (max-width: 720px) {
    font-size: 32px;
  }
}
.Whyarewe_block_Content_first_title_64text {
  font-size: calc(24px + 1.31vw + 1.31vh);
  @media (max-width: 720px) {
    font-size: 36px;
  }
}
.Whyarewe_block_Content_first_text {
  position: relative;
  top: 30px;
  width: 40%;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  font-size: calc(12px + 0.35vw + 0.35vh);
  @media (max-width: 720px) {
    font-size: 16px;
  }
}
.listLogo {
  position: absolute;
  left: 73px;
  bottom: 20%;
  z-index: 101;
  cursor: pointer;
  width: auto;
  height: calc(80px + 0.38vw + 0.38vh);
  @media (max-width: 590px) {
    height: 83px;
  }
  @media (max-height: 840px) {
    bottom: 12.5%;
  }
  @media (max-height: 710px) {
    bottom: 5%;
  }
  @media (min-width: 2560px) {
    height: calc(160px + 0.38vw + 0.38vh);
  }
}
.listLogo path {
  transition: 0.5s ease-out;
}
.listLogo:hover path {
  fill: #ffffff00;
  stroke: rgba(255, 255, 255, 0.562);
}
.Whyarewe_block_Content_first_text_Gear_Wheel {
  position: absolute;
  top: 25%;
  right: -1px;
}

.Gear_Wheel_first svg {
  width: calc(7vh + 7vw); //134,4 +
  height: auto;
}
.Gear_Wheel_second svg {
  width: calc(12.5vh + 12.5vw);
  height: auto;
}
.Gear_Wheel_third svg {
  width: calc(10.5vh + 10.5vw);
  height: auto;
}
.Gear_Wheel_fourth svg {
  width: calc(8.9vh + 8.9vw);
  height: auto;
}

.Gear_Wheel_first {
  top: 22.3%;
  top: -22px;
}
.Gear_Wheel_second {
  top: 28.4%;
}
.Gear_Wheel_third {
  top: 29.7%;
}
.Gear_Wheel_fourth {
  top: 19.9%;
}
.Whyarewe_block_Content path {
  fill: #f0f1f8;
  transition: 0.7s;
}
.active {
  /* transform: translateX(0px); */
  z-index: 100;
}

@media screen and (max-width: 1480px) {
  .Whyarewe_block_title_text {
    width: 72%;
    left: 30px;
  }
  .listLogo {
    left: 61.74px;
  }
}

@media screen and (max-width: 1134px) {
  .Whyarewe_block_Content_first {
    padding-left: 21.74px;
  }
  .listLogo {
    left: 21.74px;
  }
  .Gear_Wheel_first {
    top: 82%;
    top: auto;
    bottom: auto;
  }
  .Gear_Wheel_second {
    top: 97%;
  }
  .Gear_Wheel_third {
    top: 110%;
  }
  .Gear_Wheel_fourth {
    top: 90%;
  }
  .Whyarewe_block_title_text {
    left: 15px;
  }
  .Whyarewe_block_Content_first_text {
    width: 60%;
  }
  .Whyarewe_block {
    width: 90%;
  }
}

@media screen and (max-height: 904px) {
  .Whyarewe_block_Content_first_text {
    width: 70%;
  }
}

@media screen and (max-height: 704px) and (max-width: 1134px) {
  .Whyarewe_block_Content_first {
    padding-left: 15px;
  }
}

@media screen and (max-height: 704px) {
  .Whyarewe_block_Content_first {
    top: 109px;
  }
  .Whyarewe_block_title_text {
    top: 109px;
  }
}

@media screen and (max-height: 604px) {
  .Whyarewe_block_Content_first {
    top: 69px;
  }
  .Whyarewe_block_title_text {
    top: 89px;
  }
}

@media screen and (max-width: 720px) {
  .Whyarewe_block_title {
    position: absolute;
    height: 50%;
    width: 100%;
  }
  .Whyarewe_block_Content {
    position: relative;
    height: 70%;
    width: 100%;
    margin-top: 50%;
  }
  .Whyarewe_block {
    flex-direction: column;
  }
  .Whyarewe_block_title_text {
    top: 34px;
    width: 60%;
  }
  .Whyarewe_block_Content_first {
    top: 24px;
  }
  .Whyarewe_block_Content_first_text {
    width: 80%;
  }
  .listLogo {
    bottom: 10px;
    left: 15px;
    width: 68px;
    height: 68px;
  }
  .Gear_Wheel_third {
    top: 80%;
  }
}

@media screen and (max-height: 610px) {
  .Whyarewe_block {
    height: 80%;
    padding-top: 35px;
    overflow: visible;
  }
  .Whyarewe_block_Content_first_text_Gear_Wheel {
    top: auto !important;
  }
  .listLogo {
    width: 75px;
    height: 75px;
  }
}
