.Wrapper {
    width: 91%;
    height: calc(100vh);
    position: -webkit-sticky;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
    top: 0px;
}
.Wrapper_image {
    width: 100%;
    height: calc(100% - 88px);
    background-image: url(../../media/mountains_wrapper.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    /* border-radius: 40px; */
    margin-top: 88px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.Wrapper_block_GEOTEC {
    width: 50%;
    height: auto;
    position: absolute;
    top: 157px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.Wrapper_block_GEOTEC_block1 {
    height: auto;
    width: auto;
    position: relative;
    left: 74px;
    top: 0;
    /* top: 75px; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: 2s ease-out;
}
.Wrapper_block_GEOTEC_block2 {
    height: auto;
    width: auto;
    position: relative;
    top: -33px;
    /* top: 42px; */
    left: 74px;
    color: #3856B5;
    font-family: 'Raleway-Regular';
    font-size: 24px;
    transition: 2s ease-out;
}
.Wrapper_block_GEOTEC_block3 {
    height: auto;
    width: auto;
    position: relative;
    top: 77px;
    left: 74px;
    color: #3856B5;
    font-family: 'Raleway-Regular';
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 2s ease-out;
}
.Wrapper_block_GEOTEC_block2_button svg path {
    fill: #4A6AD0;
    transition: 0.2s ease-out; 
}
.Wrapper_block_GEOTEC_block2_button svg {
    transform: scale(1);
    transition: 0.2s ease-out;
    width: 76px;
    height: 76px;
}
.Wrapper_block_GEOTEC_block2_button:hover svg {
    transform: scale(1.1);
}
.Wrapper_block_GEOTEC_block2_button:hover svg path {
    fill: #3ED4A9;
    /* stroke: rgba(255, 255, 255, 0.562); */
}
.Wrapper_block_GEOTEC_block2_button {
    cursor: pointer;
    position: relative;
    left: 49px;
}
.Wrapper_block_GEOTEC_block2_title {
    /* font-family: 'Poppins-Light'; */
    font-size: 24px;
} 
.Wrapper_block_GEOTEC_block2_description {
    
}
.Wrapper_block_GEOTEC_title {
    width: 85%;
    text-transform: uppercase;
    font-size: 164px;
    font-family: 'Poppins-ExtraLight';
    color: #3856B5;
    line-height: 246px;
    font-weight: 275;
    font-style: normal;
    display: flex;
    flex-direction: row;
}
.Wrapper_block_GEOTEC_logo {
    width: 100%;
    position: relative;
    left: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Wrapper_block_GEOTEC_logo svg {
    position: relative;
    left: 0px;
    width: 160px;
    height: 127px;
    /* filter: url(#filter); */
}

.Wrapper_block_GEOTEC_logo path {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.backgroundSvgLogo {
    position: relative;
    /* left: -4px;
    top: 102px; */
    width: 190%;
    left: -45%;
    height: 190%;
    bottom: -45%;
    /* fill: url(#paint0_radial_1401_3081); */
    transform-origin: center center;
    /* background: radial-gradient(70.59% 70.59% at 29.41% 50%, #3ED4A9 0%, #4762B9 100%); */
    animation: logoPath_recGradientRotate 5s linear infinite;
}

.recGradientRotate {
    animation: logoPath_recGradientRotate 20s linear infinite;
}

.logo_path_1 {
    /* fill: url(#paint0_radial_1401_3081); */
}
.logo_path_2 {
    /* fill: url(#greenGradient); */
}
.logo_path_3 {
    /* fill: url(#paint2_linear_220_1333); */
}

@keyframes logoPath_recGradientRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes logoPath1 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(10px);
    }
}


@media screen and (max-width: 1480px) {
    .Wrapper_block_GEOTEC_title {
        font-size: 144px;
    }
    .Wrapper_block_GEOTEC_logo svg {
        width: 160px;
        height: 117px;
    }
}

@media screen and (max-width: 1134px) {
    .Wrapper_block_GEOTEC_title {
        font-size: 124px;
    }
    .Wrapper_block_GEOTEC_logo svg {
        width: 150px;
        height: 103px;
    }
}

@media screen and (max-width: 720px) {
    .Wrapper_block_GEOTEC {
        width: 80%;
        height: 70%;
    } 
    .Wrapper_block_GEOTEC_title {
        font-size: 104px;
    }
    .Wrapper_block_GEOTEC_logo svg {
        width: 110px;
        height: 93px;
    }
    .Wrapper_block_GEOTEC_block1 {
        left: 15px;
    }
    .Wrapper_block_GEOTEC_block2 {
        left: 15px;
    }
    .Wrapper_block_GEOTEC_block3 {
        left: 15px;
        position: absolute;
        bottom: 20px;
        top: auto;
        height: auto;
        color: #FFFFFF;
    }
    .Wrapper_image {
        margin-top: 66px;
    }
    .Subtract_right {
        top: 66px;
    }
    .Subtract_left {
        top: 66px;
    }
    .Wrapper_block_GEOTEC_block2_button svg path {
        fill: #FFFFFF;
    }
    .Wrapper_block_GEOTEC_block2_button svg {
        width: 46px;
        height: 46px;
    }
    .Wrapper_block_GEOTEC_block2_button {
        left: 10px;
    }
    .Nav_BlockCenter {
        padding: 22px 32px 6px 32px;
    }
}

@media screen and (max-width: 490px) {
    .Wrapper_block_GEOTEC_title {
        font-size: 70px;
    }
    .Wrapper_block_GEOTEC_logo {
        left: 3px;
    }
    .Wrapper_block_GEOTEC_logo svg {
        width: 70px;
        height: 53px;
    }
    .Wrapper_block_GEOTEC_block2 {
        font-size: 16px;
    }
    .Wrapper_block_GEOTEC_block2_title {
        font-size: 16px;
    } 
    .Wrapper_block_GEOTEC_block3 {
        font-size: 16px;
    }
    .Wrapper_block_GEOTEC {
        height: 75%;
    }
}


@media screen and (max-height: 700px) {
    .Wrapper_block_GEOTEC {
        top: 92px;
    }
}