.FirstSection {
  position: relative;
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstSection_block {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.firstSection_block_geotec {
  font-family: "Raleway-Regular";
  font-style: normal;
  color: #4a6ad0;
  font-weight: 400;
  font-size: calc(6px + 1.2vh + 1.2vw); //43
  line-height: 138%;
  white-space: pre-wrap;
  width: 45vw;
  @media (max-width: 720px) {
    font-size: 20px;
  }
  @media (min-width: 2560px) {
    font-size: calc(6px + 1.45vh + 1.45vw); //43
  }
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(80px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transition-timing-function: cubic-bezier(0, 0.65, 0.7, 1);
  transform: translateY(0%);
}
.element-animation:nth-child(1).element-show {
  transition-delay: 0.1s;
}

.firstSection_block_geotec svg {
  position: relative;
  bottom: 0;
  height: 100%;
  width: calc(16px + 0.8vw + 0.8vh);
  height: auto;
  margin: auto 15px;
  @media (max-width: 720px) {
    width: 22px;
    margin: auto 5px;
  }
  @media (min-width: 2560px) {
    width: calc(16px + 1.05vw + 1.05vh);
  }
}

.firstSection_block_geotec_perhapse_block {
  position: relative;
  height: auto;
  width: auto;
  transition-delay: 0.4s !important;
}
.firstSection_block_geotec_perhapse {
  position: relative;
  margin-top: 83px;
  font-family: "Raleway-Light";
  color: #102876;
  font-style: normal;
  font-weight: 300;
  // font-size: 16px;
  line-height: 140%;
  width: 79%;
  font-size: calc(8.5px + 0.25vh + 0.25vw);
  @media (max-width: 720px) {
    font-size: 14px;
  }
  @media (min-width: 2560px) {
    font-size: calc(8.5px + 0.5vh + 0.5vw);
  }
}
.top_sec {
  margin-top: 33px;
}
.engFont {
  font-family: "Poppins-ExtraLight";
  font-style: normal;
  font-weight: 275;
  font-size: calc(8.5px + 0.25vh + 0.25vw);
  line-height: 120%;
  color: #102876;
  @media (max-width: 720px) {
    font-size: 14px;
  }
  @media (min-width: 2560px) {
    font-size: calc(8.5px + 0.5vh + 0.5vw);
  }
}
.bigFontSize {
  font-size: calc(32px + 1.1vw + 1.1vh);
  color: #4a6ad0;
  font-family: "Poppins-ExtraLight";
  font-style: normal;
  font-weight: 275;
  @media (max-width: 720px) {
    font-size: 32px;
  }
  @media (min-width: 2560px) {
    font-size: calc(32px + 1.35vw + 1.35vh);
  }
}

.firstSection_block_geotec_perhapse_width {
  width: 100%;
  height: auto;
  position: relative;
}
.blockCont_block {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 85px;
  display: flex;
  flex-direction: row;
  transition-delay: 0.4s !important;
  @media (max-width: 720px) {
    position: relative;
    top: 0;
    bottom: 0;
    // margin-top: auto;
  }
}
.firstSection_block_geotec_block {
  position: relative;
  height: auto;
  width: 57%;
  margin-left: 82px;
  @media (max-width: 720px) and (max-height: 720px) {
    // margin-top: auto;
  }
}
.blockCont {
  position: relative;
  width: 262px;
  height: 208px;
  background: #4a6ad0;
  border-radius: 20px;
  cursor: pointer;
  @media (min-width: 2560px) {
    width: calc(7vh + 7vw);
    height: calc(5.5vh + 5.5vw);
  }
}
.centerer:first-of-type {
  margin-right: 27px;
}
.blockCont img {
  padding-top: 29px;
  padding-left: 31px;
  @media (min-width: 2560px) {
    transform: scale(1.65);
  }
}
.blockCont_text {
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 28px;
  @media (min-width: 2560px) {
    font-size: calc(9px + 0.45vh + 0.45vw);
    line-height: 160%;
    padding-top: 32px;
  }
}
.blockCont svg {
  position: absolute;
  right: 31px;
  bottom: 28px;
  @media (min-width: 2560px) {
    transform: scale(1.95);
    right: 61px;
    bottom: 58px;
  }
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  transition: transform 0.5s;
  transition-delay: cubic-bezier(0.13, 0.65, 0.24, 0.95);
}
.centerer:hover {
  transform: scale(1.03);
}

[class^="btn-"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
}

.btn-6 {
  overflow: hidden;
}
.btn-6 .circlebtn {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #dadadaaf;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: multiply;
}
.btn-6:hover {
  color: #c3e9d1;
}
.btn-6:hover .circlebtn {
  width: 255%;
  height: 592.5px;
}

@media screen and (max-width: 1720px) {
  .centerer:first-of-type {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1550px) {
  .blockCont_block {
    padding-right: 0px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1480px) {
  .firstSection_block_geotec svg {
    padding: 5px 0px;
  }
  .firstSection_block_geotec_perhapse {
    margin-top: 63px;
  }
}

@media screen and (max-width: 590px) and (min-height: 800px) {
  .firstSection_block {
    height: 75% !important;
  }
}
@media screen and (max-width: 590px) and (min-height: 700px) {
  .firstSection_block_geotec_perhapse {
    margin-top: 21px !important;
  }
  .blockCont_block {
    padding-top: 25px !important;
  }
}
@media screen and (max-width: 590px) and (max-height: 700px) {
  // .firstSection_block {
  //   top: 2% !important;
  // }
}
@media screen and (max-width: 1334px) {
  .firstSection_block_geotec_perhapse {
    margin-top: 12px;
  }
  .firstSection_block_geotec_block {
    width: 90%;
  }
  .firstSection_block_geotec_perhapse {
    width: 95%;
  }
  .blockCont img {
    width: 31px;
    height: 31px;
    padding: 0;
    margin-top: 20px;
    margin-top: 0px;
    margin-left: 15px;
  }
  .blockCont_text {
    padding-top: 0px;
    padding-left: 15px;
  }
  .blockCont {
    width: 192px;
    height: 153px;
  }
  .blockCont_block {
    position: relative;
    padding-top: 15px;
    padding-left: 82px;
  }
  .centerer:first-of-type {
    margin-right: 20px;
  }
  .centerer {
    width: auto;
    margin: 0;
    padding: 0;
    max-width: auto;
  }
}

@media screen and (max-width: 1134px) {
  .firstSection_block_geotec svg {
    padding: 0;
  }
  .firstSection_block_geotec_block {
    margin-left: 25px;
  }
  .firstSection_block_geotec {
    width: 90%;
  }
  .firstSection_block_geotec_block {
    width: 100%;
  }
  .firstSection_block_geotec_perhapse {
    margin-top: 23px;
    width: 90%;
    line-height: 19px;
  }
  .engFont {
    line-height: 19px;
  }
  .blockCont_block {
    flex-direction: column;
    bottom: 0;
    padding-top: 25px;
    padding-left: 25px;
  }
  .blockCont {
    height: 66px;
    width: 320px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .centerer:first-of-type {
    margin-bottom: 20px;
  }
  .blockCont img {
    padding-top: 0px;
    height: auto;
    padding-left: 0px;
  }
  .blockCont_text {
    position: relative;
    top: 0;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 9px;
  }
  .blockCont svg {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
  }
  .blockCont_text span {
    margin-top: auto;
    margin-bottom: auto;
    top: 0 !important;
    bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .firstSection_block_geotec svg {
    padding: 0;
  }
  .firstSection_block_geotec_block {
    margin-left: 15px;
  }
  .firstSection_block_geotec {
    width: 95%;
  }
  .firstSection_block_geotec_block {
    width: 100%;
  }
  .firstSection_block_geotec_perhapse {
    margin-top: 13px;
    width: 90%;
  }
  .blockCont_block {
    margin-left: 0px;
    justify-content: flex-end;
  }
  .centerer:first-of-type {
    margin-bottom: 10px;
  }
  .blockCont_block {
    flex-direction: column;
    bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 490px) {
  .firstSection_block {
    // top: 8%;
  }
  .firstSection_block_geotec svg {
    padding: 0;
  }
  .firstSection_block_geotec_perhapse {
    margin-top: 12px;
    width: 95%;
  }
  .firstSection_block {
    height: 90%;
  }
}

@media screen and (max-height: 650px) {
  .firstSection_block_geotec_perhapse {
    margin-top: 23px;
  }
  .blockCont_block {
    bottom: 20px;
    top: auto;
    margin-top: auto;
  }
}
@media screen and (max-height: 650px) and (max-width: 720px) {
  .firstSection_block_geotec_perhapse {
    margin-top: 13px;
  }
  .blockCont_block {
    bottom: 30px;
    top: auto;
    margin-top: auto;
  }
  .blockCont {
    height: 50px;
    width: 250px;
  }
  .blockCont img {
    width: 22px;
  }
  .blockCont_text {
    font-size: 11px;
  }
  .blockCont svg {
    right: 16px;
    width: 22px !important;
    height: auto !important;
  }
}
@media screen and (max-height: 780px) {
  .firstSection_block {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-height: 490px) {
  .blockCont {
    height: 52px;
    width: 320px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .blockCont_text {
    font-size: 14px;
  }
  .blockCont svg {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
  }
}
@media screen and (max-height: 390px) {
  .FirstSection {
    padding-top: 20px;
  }
}
