.our_technologies {
  width: 100%;
  height: calc(100vh);
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 101;
  padding-top: 11vh;
  overflow: hidden;
}
.our_technologies_block {
  position: relative;
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 85px;
}
.our_technologies_left {
  position: relative;
  width: 40%;
  height: 80%;
  transition: all 0.5s ease-out;
  // @media (min-width: 2560px) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // }
}
.our_technologies_right {
  position: relative;
  width: 60%;
  height: 80%;
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.5s ease-out;
}
.our_technologies_title {
  position: relative;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  // font-size: calc(16px + 2.4vh + 2.4vw); //88
  line-height: 120%;
  padding-top: 44px;
  width: 170%;
  background: linear-gradient(
    92.45deg,
    #2444a9 9.74%,
    #526ec8 70.23%,
    #839ae9 91.57%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  white-space: nowrap;
  text-fill-color: transparent;
  @media (max-width: 720px) {
    font-size: 40px;
  }
}
.our_technologies_title1_ru {
  font-size: calc(16px + 2.4vh + 2.4vw); //88
  line-height: 120%;
}
.our_technologies_title1_en {
  font-size: calc(16px + 2.05vh + 2.05vw); //88
  line-height: 120%;
}
.fonttitleTech {
  font-size: calc(3px + 2vh + 2vw); //88
}

.our_technologies_perhaps {
  position: relative;
  font-family: "Raleway-Light";
  font-style: normal;
  font-weight: 300;
  font-size: calc(6px + 0.3vh + 0.3vw); //16
  line-height: 120%;
  color: #102876;
  padding-top: 23px;
  @media (min-width: 2560px) {
    font-size: calc(6px + 0.4vh + 0.4vw); //16
  }
  @media (max-width: 720px) {
    font-size: 12px;
  }
}
.circleButton {
  position: relative;
  width: calc(7vh + 7vw); //211
  height: calc(7vh + 7vw); //211
  min-width: 149px;
  min-height: 149px;
  background-color: #2adea1;
  border-radius: 399px;
  justify-content: center;
  align-items: center;
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.7vh + 0.7vw); //22
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  margin-top: 54px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: 0px solid #07d3af;
  @media (max-width: 720px) {
    font-size: 18px;
  }
}
.circleButton:hover {
  background-color: #07d3ad00;
  color: #4a6ad0;
  border: 1px solid #4a69d08f;
}
.our_technologies_right_left {
  position: absolute;
  right: -20vw;
  // left: 0;
  margin-right: 0px;
  margin-left: auto;
  width: calc((91vw - 85px) * 0.4 * 0.4); //calc((91vw - 85px) * 0.4 * 0.4)
  height: inherit;
  cursor: url(../../media/goback.webp) 14 0, default;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 101;
}
.our_technologies_right_left:hover {
  cursor: url(../../media/goback.webp) 14 0, default;
}
.our_technologies_right_right {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: url(../../media/goTo.webp) 14 0, default;
  z-index: 100;
  @media (min-width: 2560px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.our_technologies_right_right:hover {
  cursor: url(../../media/goTo.webp) 14 0, default;
}
.our_technologies_right_right .Image_Tech {
  position: absolute;
  transition: all 1s, opacity 0.3s;
  overflow: visible;
}
.ourTech1 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: -20%;
  transition: all 0.5s ease-out;
}
.ourTech2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  top: -20%;
  bottom: 0;
  left: 30%;
  transition: all 0.5s ease-out;
}
.our_technologies_right_right img {
  width: 100%;
  // height: 100%;
  width: calc((15vw + 15vh));
  object-fit: cover;
}
.our_technologies_right_right svg {
  position: absolute;
  top: 0;
  left: 0;
}
.our_technologies_right_right svg:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

.number_hopeful_models_block {
  position: relative;
  width: calc(8.5vh + 8.5vw); //211
  height: calc(8.5vh + 8.5vw); //211
  border-radius: 20px;
  border: 2px solid #4a6ad0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-out;
  bottom: 0%;
  right: -15vw;
  // left: 25%;
  @media (min-width: 2560px) {
    width: calc(7vh + 7vw); //211
    height: calc(7vh + 7vw); //211
  }
}
.number_hopeful_models_block_title {
  position: relative;
  text-align: left;
  font-size: calc(0.7vh + 0.7vw); //22
  color: #102876;
  line-height: 120%;
  width: 100%;
  left: 25%;
}
.number_hopeful_models_block_number {
  position: relative;
  left: 25%;
  width: 100%;
  text-align: left;
  // font-size: 88px;
  font-size: calc(25px + 2.7vh + 1.5vw); //66
  color: #102876;
  line-height: 120%;
}

@media screen and (max-width: 1634px) {
  .our_technologies_right_right img {
    width: 90%;
  }
  .our_technologies {
    padding-top: 86px;
  }
}

@media screen and (max-width: 1480px) {
  .our_technologies_right_right img {
    width: 80%;
  }
  .our_technologies {
    padding-top: 56px;
  }
  .our_technologies_title {
    width: 210%;
  }
}

@media screen and (max-width: 1134px) {
  .number_hopeful_models_block {
    display: none;
  }
  .our_technologies_right_right img {
    width: 70%;
  }
  .our_technologies_block {
    flex-direction: column;
    padding-left: 0px;
  }
  .our_technologies_left {
    order: 2;
    height: 60%;
    width: 70% !important;
  }
  .our_technologies_right {
    height: 40%;
    width: 100% !important;
  }
  .ourTech1 {
    height: 150%;
  }
  .ourTech2 {
    height: 150%;
  }
  .our_technologies_left {
    padding-top: 36px;
  }
  .circleButton {
    margin-top: 20px;
  }
}
@media screen and (max-width: 910px) {
  .our_technologies_right_right img {
    width: 60%;
  }
  .our_technologies_left {
    width: 85% !important;
  }
}
@media screen and (max-width: 720px) {
  .our_technologies_left {
    width: 100% !important;
  }
  .our_technologies_title {
    padding-top: 0px;
  }
  .our_technologies_right_right img {
    width: 60%;
  }
  .our_technologies_left {
    padding-top: 10px;
  }
  .our_technologies_perhaps {
    padding-top: 8px;
  }
  .our_technologies_title {
    width: 100%;
    white-space: normal;
  }
  .our_technologies_title br {
    display: none;
  }
  .our_technologies_left {
    padding-top: 0px;
  }
}

@media screen and (max-height: 1080px) {
  .our_technologies_right {
    height: 90%;
  }
}

@media screen and (max-height: 880px) {
  .our_technologies {
    padding-top: 8%;
  }
}

@media screen and (max-height: 734px) {
  .our_technologies {
    padding-top: 5%;
  }
}

@media screen and (max-height: 620px) {
  .number_hopeful_models_block {
    height: 210px;
    width: 210px;
  }
  .number_hopeful_models_block_number {
    left: 32px;
    margin-top: 0px;
  }
  .circleButton {
    margin-top: 23px;
  }
}

@media screen and (max-height: 590px) {
  .our_technologies {
    padding-top: 2.5%;
  }
}

@media screen and (max-height: 540px) {
  .our_technologies {
    padding-top: 2.5%;
  }
}
@media screen and (max-height: 440px) {
  .our_technologies {
    padding-top: 3.5%;
  }
  .our_technologies_perhaps {
    margin-right: 10px;
  }
}

@media screen and (max-height: 920px) and (max-width: 1134px) {
  .our_technologies_left {
    // padding-top: 40px;
    height: 50%;
  }
  .our_technologies_right {
    height: 50%;
  }
}

@media screen and (max-height: 780px) and (max-width: 1134px) {
  .circleButton {
    line-height: 120%;
    margin-top: 20px;
  }
  .our_technologies_left {
    height: 55%;
  }
  .our_technologies_right {
    height: 45%;
  }
}
