.block_All {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  opacity: 0;
}
.borderRadius_overlow {
  position: relative;
  border-radius: 40px;
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  /* overflow: scroll; */
}
.Subtract_left {
  position: fixed;
  top: 91px;
  left: 4.5%;
  width: 40px;
  z-index: 9999;
}
.Subtract_right {
  position: fixed;
  top: 91px;
  right: 4.5%;
  width: 40px;
  z-index: 9999;
  transform: scale(-1, 1);
}
.borderRadius_overlow_block {
  position: relative;
  width: 100%;
  height: auto;
}