.Nav_Block {
  width: 100%;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
.Nav_BlockCenter {
  position: relative;
  width: 91%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 92px;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
}
.Nav_Block_right {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 25%;
}
.Nav_Block_left {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
  width: 75%;
}
.Nav_Block_right .Nav_Block_right_a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Nav_Block_right_a_svg svg {
  width: calc(1.05vh + 1.05vw);
  height: auto;
  min-width: 31px;
}

.Nav_Block_right_a_title {
  padding-left: 14px;
  font-family: "Poppins-ExtraLight";
  font-size: calc(0.55vh + 0.55vw);
  color: #102876;
  font-weight: 275;
}

.a_style_none {
  text-decoration: none;
  color: inherit;
  font-size: calc(0.55vh + 0.55vw);
  font-family: "Raleway-Light";
  flex-wrap: nowrap;
  color: #102876;
  white-space: nowrap;
}
.Nav_Block_left_a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1580px) {
  .Nav_Block_left {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1134px) {
  .Nav_Block_left {
    padding-left: 0%;
  }
  .Nav_BlockCenter {
    padding: 28px 35px 28px 35px;
  }
}

@media screen and (max-width: 910px) {
  .Nav_Block_left_a {
    display: none;
  }
  .Nav_Block_right_a_title {
    display: none;
  }
  .Nav_Block_left {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 720px) {
  .Nav_Block {
    background-color: #ffffff00;
  }
  .Nav_BlockCenter {
    background-color: #ffffff00;
    padding: 22px 15px 6px 15px;
  }
}

.selectLANG {
  text-align: center;
  padding: 0px;
  font-size: calc(12px + 0.15vh + 0.15vw);
  position: inherit;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: transparent;
  color: #4a6ad0;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.selectLANG option {
  position: relative;
  border: 0px solid #4a6ad0;
  color: #4a6ad0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-align: left;
  transition: all 0.4s ease-out;
  cursor: pointer;
}
.selectorBlock {
  position: absolute;
  border-radius: 5px;
  font-size: calc(12px + 0.15vh + 0.15vw);
  transition: all 0.5s ease-out;
}
.selectorblockone {
  position: relative;
  text-align: left;
  background-color: #4a69d000;
  color: #4a6ad0;
  padding: 4px 14px 6px 4px;
  line-height: 100%;
}
.selectorblockone:nth-child(1) {
  border: 1px solid #4a6ad0;
  border-bottom: 1px solid #4a6ad0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}
.selectorblockone:nth-child(2) {
  border: 1px solid #4a6ad0;
  border-top: 0px solid #4a6ad0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}
.selectorblockone:nth-child(1):hover {
  border: 0px solid #4a6ad0;
  border-bottom: 1px solid #4a6ad0;
  background-color: #2adea1;
  color: #ffffff;
}
.selectorblockone:nth-child(2):hover {
  border: 0px solid #4a6ad0;
  background-color: #2adea1;
  color: #ffffff;
}
.Active_Select_lang {
  border: 1px solid #4a6ad0;
  border-radius: 4px;
  text-align: left;
  padding: 4px 14px 6px 4px;
  line-height: 100%;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #236ab1;
  transition: 0.25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}
